
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.background{
  padding: 30px;
  background: #ececec;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}


.ant-carousel .slick-slide h3 {
  color: #fff;
}

.mapContainer {
  
  width: '100%';
  height: '400px'
}

.mapContainer .mapLocateButton{
 
position: absolute;

  left: 50px;
  bottom: 15%;
  /* width: 100%;
  height: 50px; */
  z-index: 9999; 
}

.show_img_container{
  width: 100%;
  height: 100%;
}

.show_img {
  width: 100%;
    height: 100%;
}

