.homeBannerContainer{
  
}

.aboutBannerImage{
  position: relative;
  width: 633px;
  height: 633px;
  margin-left: 300px;
  margin-right: 0;
  margin-top: 100px;
  background-color:#e0e5eb;
  background-position: 50% 50%;
  border-radius: 50% !important;
  text-align: center;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutBannerImage::before{
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 40px;
  top: -60px;
  left: -200px;
  background-image: url('@/assets/aboutUs.jpg');
  background-position: 50% 50%;
  border-radius: 50% !important;
  text-align: center;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.firstBannerImage{
  position: relative;
  width: 633px;
  height: 633px;
  margin-left: 200px;
  margin-right: 0;
  margin-top: 100px;
  background-color:#e0e5eb;
  background-position: 50% 50%;
  border-radius: 50% !important;
  text-align: center;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.firstBannerImage::before{
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 40px;
  top: -60px;
  left: -300px;
  background-image: url('@/assets/homepage_photo1.jpg');
  background-position: 50% 50%;
  border-radius: 50% !important;
  text-align: center;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondBannerImage{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
    background-image: url('@/assets/circle2.jpg');
    background-position: 50% 50%;
    margin: -181px auto 0 46px;
  border-color: #ffffff;
  border-width: 12px;
  border-style: solid;
  stroke: #ffffff;
  border-radius: 50% !important;
}

.bannerFirstTitle{
  position: relative;
  font-family: 'Open Sans',sans-serif;
    font-size: 6.875rem;
    margin-left: 20px;
  line-height: 1.1;
  padding: 0;
  font-weight: 600;
  color: #db545a !important;
}
.secondSectionImage{
  background-image: url('@/assets/lazy.jpg');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50% !important;
}

.aboutUsImage::after{
  content:'';
  width:'300px';
  height:'300px';
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
    background-image: url('@/assets/circle2.jpg');
    background-position: 50% 50%;
  border-width: 12px;
  border-style: solid;
  stroke: #ffffff;
  border-radius: 50% !important;
}

.about{
  color: #db545a !important;
  font-family: Ubuntu, sans-serif !important;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  height: fit-content;
}

.us{
  height: fit-content;
  color: #111 !important;
  font-family: Ubuntu, sans-serif !important;
  line-height: 1;
  font-size: 6rem;
}

.aboutUsContent{
  line-height: 2;
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.bannerSecondTitle{
  font-size: 2.25rem;
  margin-left: 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #808080 !important;
}

.bannerTextContent{
  color: #111111;
  margin-left: 20px;
  text-align: left;
  pointer-events: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ffffff;
}

.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url('@/assets/yay.jpg') no-repeat center 0;
  background-size: 512px 512px;
}

.login{
  position: fixed;
  left: 0px;
  /* top: 100px; */
   width: 100%;
   height: 100%;
   background-size: cover;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.1)), url('@/assets//banner_desktop.jpg');
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: center;
   background-attachment: fixed;
   display: grid;
   align-items: center;
   padding: 7em;
}

.loginTitle{
  font-size: 35px;
  line-height: 44px;
  font-weight: 400;
  color:#ececec
}

.loginSecondaryTitle{
  color:#ececec
}

.vectorTitle{
  font-size: 22px;
  line-height: 30px;
  font-weight: 200;
  color: #db545a;
  transition: 0.3s ease-in;
}
  
.secondSectionTitle{
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #db545a !important;
}

.learnBtn{
    color: #ffffff !important;
    background-color: #db545a !important;
    border-radius: 0% !important;
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 20px auto 0 0;
    padding: 14px 31px 15px 30px;
    height: fit-content;
}

.learnBtnLine{
  color: #111111 !important;
  border-radius: 0% !important;
 
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
  height: fit-content;
}

.purposeTitle{
  font-family: Roboto,sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  width: 339px;
  margin: 60px auto 0;
}

.purposeContent{
  font-size: 3rem;
  line-height: 57.6px;
  margin: 27px 60px 60px;
  font-family: 'Open Sans',sans-serif !important;
  color: #000
}

.learnBtnLine:hover{
  border-color: #db545a !important;
  color: #db545a !important;
  background-color: transparent !important;
}

.titleOfLastPartOfHomePage{
  font-weight: 700;
    font-size: 3rem;
    color: #db545a;
}

.contentOfProvide{
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.aboutUsSecondTitle{
  font-size: 6rem;

  line-height: 1;
  color: #ececec;
  background-color: #e42121;
  font-weight: 600;
  text-align: left;
}


.aboutUsMiddleSectionContent{
  max-width: 100%;
  padding-right:80px;
  padding-left: 80px;
  /* margin-right: auto;
  margin-left: auto; */
text-align: left;
}

.benefitsBanner{
  min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(
90deg
, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 90%), url('@/assets/benefitsBanner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabsLabelStyle{
  position: relative;
  display: block;
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  width: 16.6%;
  height: 100%;
  color:#EB4E01;
  cursor: pointer;
}

.tabsLabelStyle:hover{
  background: #EB4E01;
  color:#fff;
  transition: transform 400ms;
}

.tabsLabelStyleClicked{
  position: relative;
  display: block;
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  width: 16.6%;
  cursor: pointer;
  background: #EB4E01;
  color:#fff;
  transition: transform 400ms;
}

.tabsStyle{
  width: 100;
  background: #941e00;
  height: 80px;
  border-bottom: 5px solid #eb8d01;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.detailTitle{
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: left;
}

.societyTitle{
  content: ' ';
  color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: left;
}

.planTitle{
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #db545a !important;
}
.mapSecondTitle{
  font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #db545a !important;
}

.optimizedResultTitle{
  font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #db545a !important;
}

.optimizedTitle{
  color:#db545a;
}

.optimizedNumber{
  color: #f1c50e;
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: center;
}

.societyTitle::after{
  content: '1 ';
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: left;
}


.roadSafetyFirstTitle{
  color: black;
  font-size: 2rem;
  font-weight: 700;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.roadSafetySecondTitle{
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.detailContent{
  color: black;
  font-size: 45px;
  line-height: 55px;
  
  margin: 0;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: left;
}

.detailContainer{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.benefitsBannerTitle{
  color: antiquewhite;
  font-size: 4rem;
  font-weight: bold;
}

.benefitsBannerContent{
  color: antiquewhite;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.aboutUsMiddleSectionTitle{

  color: #ffffff;
  font-size: 45px;
  line-height: 55px;
  
  margin: 0;
  margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
      text-align: left;
}

.aboutUsMiddleSection{
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.1)), url('@/assets/banner_desktop.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  padding: 7rem 0;
}

.aboutUsMiddleSectionContentP{
  font-size: 14px;
    color: #eee;
    line-height: 24.5px;
    padding-top: 25px;
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;

}

.aboutUsPicTitle{
  color: #db545a ;
  font-size: 46px;
  line-height: 55px;
  font-weight: 400;
}

.aboutUsTitle{
  
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 400;

}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.background{
  padding: 30px;
  background: #ececec;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}


.ant-carousel .slick-slide h3 {
  color: #fff;
}

.mapContainer {
  width: '100%';
  height: 500px
}

.mapContainer .mapLocateButton{
 
position: absolute;

  left: 50px;
  bottom: 15%;
  /* width: 100%;
  height: 50px; */
  /* z-index: 9999;  */
}

.show_img_container{
  
  width: 100%;
  height: auto;
  max-height: 700px;
}

.show_img {
  
  width: 100%;
    height: 100%;
}

